/* dropdown */

/* main content */
.redcolor {
  color: red;
}
.bluecolor {
  color: blue;
}

.greencolor {
  color: green;
}

.buttonimg {
  width: 50px;
}

/* styles for maincontent page */

.selectyourdestiny {
  margin-bottom: 50px;
}

.selectyourdestiny2 {
  margin-top: 50px;
}

/* styles for HW1 */

.maingroupinfo {
  text-align: center;
  margin-bottom: 50px;
}

.maingroupinfoname {
  margin-bottom: 50px;
}

.bandnamecolor {
  color: blueviolet;
}

.contents {
  margin-bottom: 30px;
}

.firstdescription {
  margin-bottom: 30px;
}

.seconddescription {
  margin-bottom: 30px;
}

.thirddescription {
  margin-bottom: 30px;
}

.solocareers {
  text-align: center;
}

.tours {
  margin-bottom: 30px;
}

/* taks 3 styles */

.task3name {
  margin-bottom: 50px;
  color: crimson;
}

/* about autor page */

/* up to top button */

.topbtn {
  opacity: 30%;
  transition: 0.5s;
}

.topbtn:hover {
  opacity: 100%;
}
