/* local */

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.btn {
  text-align: center;
}

/* task01 */

.task01 {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding-bottom: 10px;
}

/* task2 */

.task2 {
  margin-top: 20px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding-bottom: 10px;
}

/* task3 */

.task3 {
  margin-top: 20px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding-bottom: 10px;
}
